[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
tqdm = "*"
bs4 = "*"
scrapy = "*"
lxml = "*"
selenium = "*"
pillow = "*"
streamlit = "*"
http-request-randomizer = "*"

[dev-packages]

[requires]
python_version = "3.9"
